/**
 * Site header
 */
.site-header {

}

.site-header .menu {
  width: 100%;
  background-color: $menu-bar-color;
  position: fixed;
  top: 0;
  margin: 0 auto;
}

.site-header .menu .trigger a {
  color: $menu-text-color;

  &,
  &:visited {
    color: $menu-text-color;
    text-decoration: none !important;
  }
}

.site-header .background {
}

.site-header .background img {
  height: $header-height;
  object-fit: cover;
  position: fixed;
  top: 0; /* -(($header-height-absolute - $header-height) / 2); */
  right: 0;
  left: 0;
  width: 100%;
  height: $header-height-absolute;
  z-index: -2;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.site-header .background .title {
  margin: 0 auto;
  text-align: center;
  height: $header-height;
  line-height: $header-height;
  white-space: nowrap;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: $menu-text-color !important;
  text-decoration: none !important;

  &,
  &:visited {
    color: $menu-text-color;
    text-decoration: none !important;
  }
}

.site-header .wrapper {
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
/*
  @include media-query($content-mobile) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
  */
}
