/**
 * Page content
 */
.page-content {
  margin-top: $header-height;
  padding: $spacing-unit 0;
  background: white;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($content-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($content-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($content-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($content-laptop) {
      font-size: 18px;
    }
  }
}

*/

/**
 * Post Lists
 */
.post-list li {
  display: inline-block;
  border-bottom: solid 1px lightgray;
  margin: 0;
  padding: 0;
}

.post-list li a {
  display: inline-block;
  font-size: $h3;
  float: left;
}

.post-list li img {
  display: inline-block;
  float: right;
}

/**
 * Home Layout
 */
.home {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  width: 200px;
  height: 200px;
  background-color: $page-color;
  margin: 5px;
  text-align: center;

  color: white;
  font-size: $h4;
  vertical-align: center;
  max-height: 200px;
  line-height: 200px;

  text-decoration: none !important;

  &,
  &:visited {
    text-decoration: none !important;
    color: white;
  }

}

#card-0 {
}

#card-1 {
}

#card-2 {
}

#card-3 {
}
